<header class="main-header">
  <a href="/#" class="logo">
    <span class="logo-mini"><i class='fa fa-industry'></i></span>
    <span class="logo-log"><i class='fa fa-industry'></i> <b>web</b>CEZAR</span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/imgs/user.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{user.email}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/imgs/user.jpg" class="img-circle" alt="User Image">
              <p>{{user.email}}</p>
            </li>
            <!-- Menu Body -->
            <li>
              <div class="row">
                
              </div>
            </li>
            <!-- Menu Footer-->
            <!--li class="user-footer">
              <div class="pull-left col-xs-3">
                <a href class="btn btn-default btn-flat" [routerLink]="['/home/profile']">Perfil</a>
              </div>
              <div class="pull-center col-xs-6">
                <a href class="btn btn-default btn-flat" [routerLink]="['/home/changePassword']">Mudar Senha</a>
              </div>
              <div class="pull-right col-xs-3">
                <a href class="btn btn-default btn-flat">Sair</a>
              </div>
            </li-->
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
