<aside class="main-sidebar" >
<section class="sidebar">
	<!-- div class="user-panel" ng-include="'/template/menu/user.html'"></div -->
	<!-- div ng-include="'/template/menu/searchForm.html'"></div -->
	<ul class="sidebar-menu">
		<li class="header">Menu</li>
		
		<li class="treeview">
		  <a href>
		    <i class="fa fa-edit"></i> <span>Cadastros</span>
		    <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <!--ul class="treeview-menu">
		    <li>
		      <a  [routerLink]="['/home/medicines']"><i class="fa fa-medkit"></i> Medicamentos</a>
				</li>
				<li>
					<a  [routerLink]="['/home/users']"><i class="fa fa-user"></i> Usuários</a>
				</li>
		  </ul>
    </li-->
    <li class="treeview">
      <a href>
        <i class="fa fa-tasks"></i> <span>Tarefas</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <!--ul class="treeview-menu">
				<li>
					<a  [routerLink]="['/home/inviteDoctor']"><i class="fa fa-paper-plane"></i> Convidar Médico</a>
				</li>
			</ul-->
		</li>
		<li class="treeview">
      <a href>
        <i class="fa  fa-gear"></i> <span>Configurações</span>
        <i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a  [routerLink]="['/home/paramGlobal']"><i class="fa fa-wrench"></i>Parâmetros Globais</a>
				</li>
      </ul>
		</li>
	</ul>
</section>
</aside>
